vti_encoding:SR|utf8-nl
http\://www.ethoswest.org/index.htm:schedule2012.htm
//www.youtube.com/embed/f2yf13tmjni:music.html
hl real book ii.pdf:1046rb.htm
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/rightcolumnbgfill.png:default[1].css
http\://www.youtube.com/user/btgauthier:links.html
http\://themayorofoldtown.com/:schedule.htm links.html
http\://www.music.colostate.edu/about/facilities.asp:schedule2012.htm
915_files/editdata.mso:915.htm
http\://tivanet.com/mjg/index.html:contact2.htm
mailto\:tim@btgauthier.com:schedule.htm contact.html schedule2012.htm
http\://www.downtownfortcollins.com/events.php/detail/376/1:schedule2012.htm
http\://trimediafestival.org/:schedule2012.htm
mailto\:mail@btgauthier.com:thumbnails.htm
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/leftcolumnheaderbg.png:default[1].css
https\://www.facebook.com/pages/fine-and-funky/168387803378:schedule.htm
http\://schoolweb.psdschools.org/clpms/:schedule2012.htm
http\://www.fcgov.com/recreation/seniorcenter.php:schedule2012.htm
http\://www.fcmod.org/:schedule.htm
http\://montgomeryjazz.com/:schedule.htm schedule2012.htm
mm_spacer.gif:contact2.htm
http\://btgauthier.com/webmail/src/login.php:index.htm
http\://www.avogadros.com/:schedule.htm links.html schedule2012.htm
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/mainwrapperbgfill.png:default[1].css
http\://www.gelazzi.com/:schedule.htm
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/headerbg.jpg:default[1].css
http\://genoacoffee.blogspot.com/:schedule.htm schedule2012.htm
http\://www.beetstreet.org/:links.html
http\://crownpub.net/:schedule.htm links.html schedule2012.htm
http\://www.focomx.org/:schedule2012.htm
http\://www.good-sam.com/communities/showlocation.asp:schedule2012.htm
http\://www.pathways-care.org/events/vintage/events-vintage.php:schedule2012.htm
myfav3.htm:favorite.htm
http\://www.cranfordcove.com/:schedule.htm
http\://www.facebook.com/:trio.html
http\://www.rosannwinn.com/:schedule2012.htm
https\://diamond.he.net/cgi-bin/suid/~tivanet/sendit.pl:contact2.htm
http\://www.srithairestaurant.com/:schedule.htm schedule2012.htm
http\://www.vincent-restaurant.com/p/events-specials.html:schedule.htm schedule2012.htm
http\://www.riograndemexican.com/:schedule.htm links.html schedule2012.htm
http\://beetstreet.org/community/flood-relief-efforts:schedule.htm
http\://thetouchmonkeys.com/:schedule.htm schedule2012.htm
http\://www.genoaespressoandwine.com/:schedule.htm
http\://www.islandgrillrestaurant.com/default.aspx:schedule2012.htm
http\://www.msn.com/:favorite.htm
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/commas.png:default[1].css
http\://www.btgauthier.com/mgb.htm:schedule.htm
http\://beetstreet.org/118/streetmosphere/:schedule.htm schedule2012.htm
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/rightcolumnheaderbg.png:default[1].css
http\://beetstreet.org/streetmosphere:schedule.htm
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/leftcolumnbgfill.png:default[1].css
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/footerbg.png:default[1].css
/styles/iepngfix.htc:iehome[1].css
hl real book iv.pdf:1046rb.htm
http\://montgomeryjazz.com:schedule2012.htm
hl real book iii.pdf:1046rb.htm
hl real book i.pdf:1046rb.htm
//www.youtube.com/embed/-payog2cvx8:mgb.htm
http\://www.vincent-restaurant.com/:schedule2012.htm
http\://www.youtube.com/v/vemqht1hjum:stella.htm
http\://www.poudreriverartscenter.com/index.php:schedule2012.htm
http\://www.myspace.com/timgauthier:trio.html
https\://www.facebook.com/:links.html
//www.youtube.com/embed/47ss6cab4xy:music.html
http\://www.justjazzquintet.com/:links.html schedule2012.htm
http\://store-locator.barnesandnoble.com/store/2611:schedule2012.htm
http\://downtownfortcollins.com/:links.html
/c\:/documents and settings/local settings/temporary internet files/content.ie5/images/invertedcommas.png:default[1].css
http\://www.yahoo.com/:favorite.htm
